## **Exploratory Data Analysis** ##

**Importing the libraries for EDA**

In [ ]:
import pandas as pd
import os
import openpyxl
import matplotlib
import seaborn

In [ ]:

# Load the dataset
sales = pd.read_csv("sales_data.xls")

# Display the data
sales

# Check the data types of each column
sales.dtypes

In [9]:
# Checking for missing values
sales.isna().sum()
sales.isnull()

,customer_id,device_id,item_id,line_item_id,order_id,event_id,event_timestamp,quantity,currency,checked_out_at,status,location
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
578315,False,False,False,False,False,False,False,False,False,False,False,False
578316,False,False,False,False,False,False,False,False,False,False,False,False
578317,False,False,False,False,False,False,False,False,False,False,False,False
578318,False,False,False,False,False,False,False,False,False,False,False,False
578319,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
# checking the shape of the dataframe
sales.shape

In [ ]:
# checking for duplicate values
sales.duplicated().sum()
sales